* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.border{
  border: 2px dashed black; /* debug */
}

.container {
  display: flex;
  width: 70%;
  max-width: 1600px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

/* header  */

header{
  height: 55px; /* debug */
  background-color: #ADD8E6; /* debug */
  display: flex;
  align-items: center;
  justify-content: center;
}

header .logo,
header .login,
header nav {
  background-color: #D9A52B; /* debug */
  height: 90%; /* debug */
  padding: 5px;
}

header .logo{
  flex-grow: 1;
  display: flex;
}

header .login{
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
}

header nav{
  flex-grow: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* main  */

main .container {
  padding: 40px;
}

.jumbotron {
  margin: 0;
  background-color: #0C258B; /* debug */
  height: 400px; /* debug */
  padding: 0 20px;
}

.jumbotron .intro-box {
  width: 80%;
  height: 300px; /* debug */
  background-color: rgba(255, 0, 0, 0.5); /* debug */
}

main section:nth-of-type(2n + 3) {
  background-color:#D3D3D3;
}

.container.odd {
  flex-direction: row-reverse;
}

.box-grande,
.box-piccola {
  height: 400px; /* debug */
}

.box-grande{
  background-color: #1F8FFB; /* debug */
  flex-grow: 2;
}

.box-piccola{
  background-color: #F6BFCB; /* debug */
  flex-grow: 1;
}

.cta-box {
  background-color: #418B24;  /* debug */
  height: 700px; /* debug */
  flex-grow: 1;
}

/* footer  */

footer {
  background-color: #23272A;

}

.footer-up{
  padding: 10px 0 0 20px;
  border-bottom: 1px solid #AFAFAF; /* debug */
  height: 550px; /* debug */
  
}

.footer-box-grande,
.footer-box{
  height: 500px; /* debug */
}

.footer-box-grande{
  background-color: #F6BFCB; /* debug */
  flex-grow: 2;
}

.footer-box{
  background-color:#4DB3AB; /* debug */
  border-color: white; /* debug */
  flex-grow: 1;
}

.footer-bottom {
  padding-top: 20px;
  height: 100px; /* debug */

}

.footer-bottom .container{
  background-color: #7AF6D4; /* debug */
  justify-content: space-between;
  align-items: center;
  height: 70px; /* debug */
}

.footer-bottom .logo,
.footer-bottom .button {
  height: 30px; /* debug */
  width: 70px; /* debug */
  background-color: #F5B5C0; /* debug */
  display: flex;
  justify-content: center;
  align-items: center;
}